<?xml version='1.0' encoding='utf-8'?>

<widget id="org.devgirl.pg30testing2" version="2.2.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"  versionCode = "12" >
    <name>Fifteen-puzzle</name>
    <preference name="permissions" value="none" />
	<icon src="logo.jpg" />
	<access />
	</widget>